PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority

CLIENT_ID=<google-oauth-client-id>
CLIENT_SECRET=<google-oauth-client-secret>
REDIRECT_URI=http://localhost:3000/auth/oauth2callback

SUCCESS_REDIRECT_URL=https://drive.google.com
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

DEFAULT_USER_ID=default_user_id
